# OpenAI settings
#OPENAI_API_KEY=sk_xxxxyyyzzzz
OPENAI_CHAT_MODEL_ID=gpt-4o-mini
OPENAI_RESPONSES_MODEL_ID=gpt-4o-mini

AZURE_PROJECT_ENDPOINT=https://{azure_ai_foundry}.services.ai.azure.com/api/projects/firstProject
AZURE_OPENAI_ENDPOINT=https://{azure_ai_foundry}.cognitiveservices.azure.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_SUBSCRIPTION_KEY=xxxyyyzzzz
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o-mini

#Local Ollama settings
OPENAI_API_KEY=ollama
OLLAMA_ENDPOINT=http://localhost:11434/v1
OLLAMA_CHAT_MODEL_ID=gpt-oss:20b

CHAINLIT_AUTH_SECRET="3od/$/2/NMiaC/V%%a%wIv/:T_?:UnnNz%~Oy:D,j_eR?sR9Ad:S=-/,yPM2:.>n"
#ENABLE_OTEL=true
LOG_LEVEL=INFO

JIRA_SERVER_URL=https://puntanegra.atlassian.net
JIRA_API_USER=user@puntanegra.com.ar
JIRA_PROJECT_KEY=INT
JIRA_API_TOKEN="ATATT3xFf...."
HEALTHCHECK_EXCEL_FILE_PATH="C:\tmp\Daily Health Check.xlsx"

DATABASE_URL=sqlite+aiosqlite:///./chat_history.db

DASHBOARD_SUBSCRIPTION_ID=1111111-1111-1111-1111-11111111
DASHBOARD_RESOURCE_GROUP=rg-healthcheck-nonprod
DASHBOARD_ID=1111111-4567-1111-1111-1111111

AZURE_SUBSCRIPTION_IDS=1111111-7b3a-1111-9be0-1111111,2222222-3799-1111-a415-222222